@charset "utf-8";
/* CSS Document */
*{margin:0;padding:0}
body,html{font:14px "微软雅黑",'\5fae\8f6f\96c5\9ed1';background:#fff;color:#333;-webkit-text-size-adjust:none;width:100%;overflow: hidden;}
html{-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;overflow-x:hidden;overflow-y:auto;}
img{border:0}
ol,ul{list-style:none}
a{color:#333;text-decoration:none}
h1,h2,h3,h4,h5,h6{font-size:100%}
em,i{font-style: normal;}

header{position:relative;height:42px;padding:2px 50px 0 0px;z-index:20;background:#2095f4;}
header .logo{position:absolute;top:5px;left:0;width:100%;height:35px;line-height:35px;color:#fff;font-size:18px; text-align:center;white-space:nowrap;font-weight:600;box-sizing:border-box;padding-right:100px;}

.searchDiv{width:100%;height:40px;background:#f6f6f6;border-bottom:1px dashed #ccc;padding:4px 10px 0 10px;box-sizing:border-box; position: relative; display:none;}
.searchDiv>div{width:100%;box-sizing:border-box;border-radius:6px;background:#fff;border:1px solid #06f;height:30px;padding:0 40px 0 5px;}
.SBInp{width:100%;border:none;border-radius:2px 0 0 2px;background:#fff;-webkit-box-flex:1;}
.SBInp:before{content:'';position:absolute;top:6px;right:0;width:1px;height:17px;border-right:1px solid #d9d9d9;}
.SBBtn{-webkit-box-sizing:border-box;position: absolute;right:12px;top:5px;}

.SBInp input{text-indent:5px; font-size:12px;border:none;border-radius:7px 0 0 7px;height:28px;color:#666;-webkit-box-sizing:border-box;vertical-align:middle;width:100%;outline:none;}

#mclassify{position:absolute;top:4px;right:4px;width:40px;height:40px;z-index:1;background:url(..) 3px -50px no-repeat;background-size: 32px auto;cursor:pointer}

/* 导航 */
nav{line-height:40px;background:#fff;width:100%;height:0; overflow:hidden;}
.fixNav{ position:absolute;z-index:0;}
.NavFloat{line-height:40px;background:#fff;border-bottom:1px solid #999;width:100%;height:40px; overflow:hidden;position:fixed;left:0;top:0;z-index:1;}
nav ul li.cur a,.fixNav ul li.cur a{color:#2095f4; font-weight:600;}
nav ul,.fixNav ul{zoom:1;clear:both;overflow:hidden;}
nav ul li{width:25%;padding:0;float:left;color:#333;text-align:center;}
.fixNav ul li{width:20%;padding:0;float:left;color:#333;text-align:center;}
nav ul li a,.fixNav ul li a{display:block;text-align:center;position:relative;font-size:18px;height:40px;line-height:40px;color:#000;}
nav ul li.liW{width:50%;}

/*软件下载*/
.detInfo{width:100%;padding:10px 10px 0 10px;box-sizing:border-box;height:auto; overflow:hidden;position:relative;background:#fff;}
.detInfo img{width:70px;height:70px;position:absolute;left:10px;top:10px;}
.detInfo dl{width:100%;padding-left:80px; box-sizing: border-box;height:70px; overflow:hidden;}
.detInfo dl dt{width:100%;height:28px; line-height:28px;color:#000;font-size:16px;}
.detInfo dl dt h1{font-weight:normal;overflow: hidden;height: 28px;}
.detInfo dl dd{width:100%;height:40px; overflow:hidden;}
.detInfo dl dd p{ line-height:20px;float:left;color:#999;height:20px; overflow:hidden;margin-right:4px;}
.detInfo dl dd p:nth-child(even){width:50%;}
.detInfo dl dd p:nth-child(odd){width:45%;}
.detInfo dl dd p a{color:#f60;}
.detInfo>a{width:100%;height:40px;line-height:40px;background:#2095f4;color:#fff;font-size:18px; text-align:center;display:block; margin-top:10px;border-radius:6px;}
.detInfo span{position:relative;float: left;color:#f60;margin-top:12px;}
/*新*/
.detInfo_d{width:100%;padding:0px 10px 3px 10px;box-sizing:border-box;height:auto; overflow:hidden;position:relative;background: none;}
.detInfo_d img{width:70px;height:70px;position:absolute;left:10px;top:10px;}
.detInfo_d dl{width:100%;padding-left:80px; box-sizing: border-box;height:70px; overflow:hidden;}
.detInfo_d dl dt{width:100%;height:28px; line-height:28px;color:#000;font-size:16px;}
.detInfo_d dl dt h1{font-weight:normal;overflow: hidden;height: 28px;}
.detInfo_d dl dd{width:100%;height:40px; overflow:hidden;}
.detInfo_d dl dd p{ line-height:20px;float:left;color:#999;height:20px; overflow:hidden;margin-right:4px;}
.detInfo_d dl dd p:nth-child(even){width:50%;}
.detInfo_d dl dd p:nth-child(odd){width:45%;}
.detInfo_d dl dd p a{color:#f60;}
.detInfo_d>a{width:100%;height:40px;line-height:40px;background:#2095f4;color:#fff;font-size:18px; text-align:center;display:block; margin-top:10px;margin-bottom: 3px;border-radius:6px;}
.detInfo_d s{position: absolute;width:18px;height: 30px;line-height: 30px;display:block;margin-top: 4px;background:url('../images/off.png') 0 0 no-repeat;background-size:20px 20px;z-index: 2;}
.detInfo_d span{position: relative;background:#fff;height: auto;line-height:20px;font-size: 13px;color: #5fbf5e;padding-left: 18px;overflow: hidden; margin: 5px 0 0 6px;display:inline-block;}

/*其它版本软件下载*/
.oryverbox{position:relative;height:auto;overflow:hidden;}
.oryverbox .ovtit{position: relative;padding:0 10px;line-height: 25px;overflow: hidden;}
.oryverbox .ovtit span{font-size: 18px;}
.oryverbox .oryverlist{position:relative;border-top:1px solid #dfdfdf;overflow:hidden;}
.oryverbox .oryverlist p{position: relative;font-size: 16px;padding:0 10px;overflow: hidden;margin:6px 0;border-bottom: 1px dashed #dfdfdf;}
.oryverbox .oryverlist p span{position: relative;display: inline-block;width:80%;height:20px;line-height: 20px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.oryverbox .oryverlist p em{margin-left:10px;}
.oryverbox .oryverlist p i.cir_size{display:block;padding:0px 0 4px 0;color:#666;font-size:13px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.oryverbox .oryverlist p i.cir_btn{display:inline-block;padding:0;text-align:center;background:none;right:10px;top: 7px;width: 60px;height: 27px;line-height: 27px;font-size: 14px;position: absolute;background:#2095f4;color: #fff;border-radius: 5px;top:10px}
.oryverbox .oryverlist font{margin-right:10px;}

/*查看更多*/
.lookmore{display:none;border-radius: 4px;background: #efefee;text-align: center !important;color:#999;font-size:14px;line-height: 38px;height:38px !important;margin:10px;cursor:pointer;}
.lookmore a,.lookmore span{font-size:18px;color:#888;background: none !important;height:38px !important;line-height: 38px  !important}
.lookmore i{display: inline-block;width:29px;height:17px;background:url(..) 0px -246px no-repeat;vertical-align: middle;margin-left: 10px;}
.lookmore i.cur{width:29px;height:17px;background:url(..) 0px -266px no-repeat;margin-top:-6px}

/* 标题 */
.mCTitle{width:100%;height:25px;line-height:25px;box-sizing:border-box;padding:0 10px;margin:8px 0}
.mCTitle p{width:100%;height:25px;border-bottom:2px solid #ccc;}
.mCTitle span{display:block;height:25px;border-bottom:2px solid #09f;float:left;font-weight:bold;font-size:16px;}
.mCTitle i{width:10px;height:27px;background:#fff;float:left;}
.mCTitle a{float:right;font-size:14px;color: #666;}

/*精品推荐*/
.jptjApp{width:100%;height:auto;margin:2px 0;box-sizing:border-box;overflow:hidden;}
.jptjApp ul{width: auto;height: auto;margin-top:10px;padding-left:10px;box-sizing: border-box;overflow: hidden;}
.jptjApp ul li{width: 20%;height: auto;float: left;padding: 0px 10px 6px 0;box-sizing: border-box;display:inline;overflow: hidden;}
.jptjApp ul li a{width:100%;height: auto;display: block; overflow: hidden;}
.jptjApp ul li a img{display: block;overflow: hidden;margin:auto;height:15vw;border-radius: 10px;}
.jptjApp ul li a span{width:100%;height: 20px;line-height: 20px;font-size: 14px;color: #333;    text-align: center;display: block;overflow: hidden;margin:4px auto 0;}
/*应用市场推荐*/
.yyscApp{ width:100%; height:auto; margin:10px 0 ; box-sizing:border-box;overflow:hidden;}
.yyscApp ul{width: auto;height: auto;margin-top:10px;padding-left:10px;box-sizing: border-box;overflow: hidden;}
.yyscApp ul li{width: 20%;height: auto;float: left;padding: 0px 10px 10px 0;box-sizing: border-box;display:inline;overflow: hidden;}
.yyscApp ul li a{width:100%;height: auto;display: block; overflow: hidden;}
.yyscApp ul li a img{display: block;overflow: hidden;margin:auto;height:15vw;border-radius: 10px;}
.yyscApp ul li a span{width:100%;height: 20px;line-height: 26px;font-size: 14px;color: #333;    text-align: center;display: block;overflow: hidden;margin:4px auto 0;}

#screen{width:100%;height:auto;padding-top:3px;box-sizing:border-box;background:none;overflow:hidden; position:relative; zoom:1}

/* 详情、相关、评论导航 */
.DContNavTab{width:100%;height: 34px;border-bottom:1px solid #efefef;display:-webkit-box;overflow:hidden;border-top:1px solid #efefef;}
.DContNavTab li{width:auto;height: 34px;border-right:1px solid #efefef;overflow:hidden;-webkit-box-flex:1;cursor:pointer;}
.DContNavTab li b{width:100%;height: 34px;line-height: 34px;font-size:16px;font-weight:normal;color:#333;margin:auto;text-align:center;display:block;overflow:hidden;}
.DContNavTab li:nth-child(3){border:0;}
.DContNavTab .m-hover b{height: 33px;line-height: 33px;color:#66d105;border-bottom:2px solid #66d105;}

/* 轮播开始 */
.imgbox{position:relative;padding:0 6px;}
#wrapper{width:100%;float:left;position:relative;z-index:0;overflow:hidden;padding:8px 0 6px 0;}
#scroller{width:3000px;height:100%;float:left;}
#scroller ul{display:block;float:left;width:100%;height:100%;padding:0;margin:0;}
#scroller li{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;box-sizing:border-box;display:block;float:left;width:145px;text-align:center;margin-right:5px;}
#scroller li img{border:1px solid #fff;width:145px;}

/**swiper**/
.swiper-container {margin:0 auto;position:relative;z-index:1;}
.swiper-wrapper {position:relative;width:100%;height:100%;z-index:1;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-transition-property:-webkit-transform;-moz-transition-property:-moz-transform;-o-transition-property:-o-transform;-ms-transition-property:-ms-transform;transition-property:transform;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;}
.swiper-container-android .swiper-slide,.swiper-wrapper {-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-o-transform:translate(0,0);-ms-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
.swiper-slide {display:block;-webkit-flex-shrink:0;-ms-flex:0 0 auto;flex-shrink:0;width:100%;height:100%;position:relative;}
.swiper-pagination {position:absolute;text-align:center;-webkit-transition:.3s;-moz-transition:.3s;-o-transition:.3s;transition:.3s;-webkit-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0);z-index:10;}
.swiper-container-horizontal>.swiper-pagination {bottom:10px;left:0;width:100%;}
.swiper-pagination-bullet {width:8px;height:8px;display:inline-block;margin:0 2px;border-radius:100%;background:#fff;}
.swiper-pagination-bullet-active {background-color:#ff8800 !important;}
/*正文内容图片展示*/
.light-box{ position:fixed; top:0; z-index:999999999; width:100%; height:100%;background:rgba(0,0,0,.9)}
.light-box>div{height:100%;width:100%;overflow: hidden;margin:0 auto;}
.light-box ul,.light-box li{ height:100%; width:100%;}
.light-box .swiper-slide img {line-height:100%;max-width:100%;max-height:80%;}
.light-box .swiper-slide {text-align: center;overflow: hidden;display: -webkit-box;-webkit-box-orient: vertical;-webkit-box-pack: center;-webkit-box-align: center;}
.light-box .swiper-container-horizontal>.swiper-pagination{right:2rem!important;top:2rem!important;display:inline;width:auto;height:1.8rem;text-align:right;color: #c5c5c5;font-style: italic;}
.light-box .swiper-pagination-current{font-size:1.8rem;color:#fff;}
.light-box .close{display:block;width:30px;height:30px;overflow:hidden;position:absolute;left:1rem;top:2rem;font-size:0;z-index:99999;cursor:pointer;}
.light-box .close:before,.light-box .close:after{content:'';position:absolute;left:1.2rem;top:.2rem;display:block;width:.13rem;height:1.8rem;background:#ccc;font-size:0;vertical-align: middle;}
.light-box .close:before{-webkit-transform: rotate(45deg);}
.light-box .close:after{-webkit-transform: rotate(-45deg);}
/* 轮播结束 */

/*详情内容 收缩*/
#screen .DSContent{width:100%; height:auto; line-height:28px; padding:4px 6px 10px 12px; font-size: 16px;color:#333; box-sizing:border-box; background:#fff;overflow:hidden ; text-transform:capitalize;}
#screen .DSContent p{line-height: 24px;margin-bottom: 8px;}
#screen .DSContent .itTit,#screen .DSContent h3{font-weight: bold;font-size: 16px; line-height: 2em; margin: 3% 0;}
#screen .DSContent p a{text-decoration:underline}
#screen .DSContent img{ max-width:90%; height:auto; margin:8px auto; display:block;}

/*详情内容 收缩 查看全部*/
.DSConAll{text-align:center;height:40px; line-height:40px;font-size:18px;margin-top:15px;box-flex:1;padding:0 10px; box-sizing:border-box;}
.DSConAll span{font-weight: bold;margin:0 3px;}
.DSConAll b{width:100%;height:40px;display:block;overflow:hidden;font-weight: normal;background:#eee;border-radius:6px;}

/*相关推荐*/
#descript{width:100%;height:auto;overflow:hidden;}
.xgtj,.comment{width:100%; height:auto;overflow:hidden; box-sizing:border-box;padding:0 10px;}
.xgtjlist{width:100%; height:810px;overflow:hidden; box-sizing:border-box;padding:0 10px;}
.xgtj ul li{width:100%; height:81px;overflow:hidden; box-sizing:border-box; position:relative; zoom:1}
.xgtj ul li .DSimLeft{width:100%; height:auto;display:-webkit-box; overflow:hidden; padding:10px 40px 10px 0; box-sizing:border-box; border-bottom:1px solid #eee;}
.xgtj ul li .DSimLeft img{position:relative;float:left;width:60px;height: 60px;border-radius:15px;margin-right:10px;display:block;overflow:hidden;}
.xgtj ul li .DSimLeft p{width:auto; height:auto; overflow:hidden; -webkit-box-flex:1}
.xgtj ul li .DSimLeft p>span{width:100%;height:20px;line-height:20px;font-size:16px;display:block;overflow:hidden;}
.xgtj ul li .DSimLeft p b{width:100%;height:16px;line-height:16px;font-size:12px;font-weight:normal;color:#777;margin-top: 4px;display:block;overflow:hidden;}
.xgtj ul li .DSimLeft p b:nth-child(2) {color:#777 ;font-size: 12px;}
.xgtj ul li .DSimLeft p b span{float:left; margin:0; display:inline; overflow:hidden;max-width: 172px;text-overflow: ellipsis;white-space: nowrap;}
.xgtj ul li .DSimLeft p b span:nth-child(2) { border-left: 1px #ccc solid;padding:0 8px; margin:0 5px 0 8px; }
.xgtj ul li .DSimLeft p b em{font-style: normal; }
.xgtj ul li .DSimRight{width:36px;height:auto;padding-top:30px;font-size: 14px;background:url(..) no-repeat center -1248px ;display:block;overflow:hidden;position:absolute;right:6px;top: 17px; color:#66d105;text-align: center;}
.xgtj>p{text-align:center;height:40px; line-height:40px;font-size:18px;background:#eee; margin-top:15px;border-radius:6px;box-flex:1;}
.xgtj>p span{font-weight: bold;margin:0 3px;}


/*同类热门*/
.tlrmList{width:100%;height:auto;box-sizing:border-box;padding-left:10px;margin-bottom:6px; overflow:hidden;}
.tlrmList span{width:33.3%;padding-right:10px;box-sizing:border-box;float:left;height:30px;line-height:30px;margin:5px 0;}
.tlrmList span a{width:100%;height:30px; overflow:hidden;border:1px solid #ddd;background:#f6f6f6;border-radius:3px;text-align:center;display:block;color:#666;}
.tlrmList span a.txt1{color:#539cfe;}
.tlrmList span a.txt2{color:#fe633a;}
.tlrmList span a.txt3{color:#6dbe18;}
.tlrmList span a.txt4{color:#5895bc;}

/*网友评论*/
.commentTit{width:100%;height:50px;overflow:hidden;font-size:20px;font-weight:bold;line-height:50px;}
.commentTit p{float:left;}
.commentTit p span{float:left;height:30px; min-width:25px; border-radius:6px;background:#5fbf5e;line-height:30px;color:#fff;text-align:center;font-weight:normal;font-size:16px;margin:10px 0;}
.commentTit p i{float:left;width:0;height:0;border-left:6px solid #5fbf5e;border-top:6px solid transparent;border-bottom:6px solid transparent; margin:20px 8px 0 0;}
.commentTit a{float:right;}
.comment input{width:100%;height:42px; box-sizing:border-box;border:1px solid #5fbf5e;padding:0 10px;line-height:42px;border-radius:6px;}
.comment ul{width:100%;height:auto; overflow:hidden;margin:4px 0;}
.comment ul li{width:100%;height:auto; overflow:hidden;border-bottom:1px solid #ccc;padding:6px 0;}
.comment ul li .contTitle{width:100%;height:40px; line-height:40px; overflow:hidden;}
.comment ul li .contTitle span{float:left;color:#5fbf5e;}
.comment ul li .contTitle time{float:right;color:#999;}
.comment ul li .contC{width:100%;height:auto; overflow:hidden;}

/*底部*/
.footerMenu{width:100%;height:40px;background:#f6f6f6;}
.footerMenu a{width:33.3%;text-align:center;font-size:14px;height:16px;line-height:16px;box-sizing:border-box;float:left;margin:12px 0;}
.footerMenu a:nth-child(2){border-left:1px solid #999;border-right:1px solid #999;}

/* footer */
footer{width:100%;border-top:1px solid #d9d9d9;background:#ebebeb;text-align:center;position:relative;height:50px;}
footer p{height:46px;line-height:46px;font-size:14px;color:#999;}
footer p a{padding:0 10px;}
/* #Cbacktop{width:40px; height:40px; background:url(../images/index-icon.png) no-repeat 0 -143px; background-size:600px; display:none; overflow:hidden; position:fixed; right:10px; bottom:100px; z-index:500} */
.Navtop{position:fixed;right:10px;bottom:100px;width:40px;height:40px;background:url(../images/index-icon.png) no-repeat 0 -143px;background-size:600px; z-index:999}
/**/
.DownShow{z-index:998;width:100%; height:100%; position:fixed; left:0; top:0;overflow:hidden; background:rgba(0,0,0,0.5);display:none;}
.DDShowCont{display:none;z-index:999;width:94%; height:auto; max-height:94%; background:#fff; border-radius:6px; padding-bottom:20px;padding-top:5px;box-sizing:border-box; position:fixed; left:3%; top:15%; overflow-x:hidden;}
.DDShowCont>p{width:auto;height:auto;line-height:24px;font-size:16px;font-weight: bold;color:#333;margin:0px 12px;overflow:hidden;border-bottom:2px solid #eee;padding:2px 0 8px 0;}
.DDShowCont>p span{color: #1ADFB2;}
.DDShowCont .DDSCloseBtn{ width:auto; height:auto; font-size:36px; font-weight:bold; color:#333; -webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);-o-transform: rotate(45deg);-ms-transform: rotate(45deg);transform: rotate(45deg); display:block; overflow:hidden; position:absolute; right:6px; top:-6px; z-index:30; cursor:pointer}
.DDShowCont ul{width:100%; height:auto;overflow:hidden; padding-bottom:10px;box-sizing:border-box;}
.DDShowCont ul li{width:25%; height:auto;float:left;padding-top:10px; overflow:hidden; text-align:center;margin-top:5px;}
.DDShowCont ul li a{width:100%; height:auto; display:block; overflow:hidden; cursor:pointer; text-decoration:none; line-height:20px;}
.DDShowCont ul li a img{width:62px; height:62px; border-radius:6px;margin:0 auto; display:block; overflow:hidden}
.DDShowCont ul li a p{width:70px;height:50px; box-sizing:border-box;overflow:hidden; -webkit-box-flex:1;font-size:14px;color:#151415; text-align:center;white-space: nowrap;text-overflow:ellipsis;margin:0 auto; margin-top:5px;}
.DDShowCont ul li a p b{font-weight:normal; width:48px; height:20px; line-height:20px; font-size:13px;color:#41C1FA; border:1px #41C1FA solid; border-radius:3px; margin:5px auto 0 auto; text-align:center; display:block; overflow:hidden}
.DDShowCont ul li a:hover p b{background:#41C1FA;color:#fff;}
/*说明*/
.Explain { color: #666666; border: dashed 1px #ff9900; background-color: #fdfddf; padding:0 10px 5px;margin-top:16px;}
.Explain h3 { color: #cc0045;font-size: 14px;font-weight: bold;font-family: Tahoma, Geneva, "\5fae\8f6f\96c5\9ed1", "\5B8B\4F53"; }
/*cxx_评论*/
.comment .plbutton{width:100%;height: auto;display:-webkit-box;overflow:hidden;margin:0;padding:5px 0 0;box-sizing:border-box;float: left;}
.comment .tjbutton{width: 67%;height:30px;line-height:30px;background:#ff4d4e;font-size:14px;font-weight:normal;font-family:"microsoft yahei";text-align:center;color:#fff;padding:0;margin:0;border:0;display: block;overflow:hidden;border-radius:4px;-webkit-box-flex:1;outline: none;}
.comment .cancel{width: 30%;height:30px;line-height:30px;background:#ccc;font-size:14px;font-weight:normal;font-family:"microsoft yahei";text-align:center;color:#fff;padding:0;margin: 0 0 0 3%;border:0;display:block;overflow:hidden;border-radius:4px;outline: none;}
.comment .plbutton .yzm{width: 31%;height: 30px;line-height: 30px;border-radius:6px;outline: none;}
.comment .plbutton img{width: 20%;height: 21px;line-height: 30px;top: 5px;position: relative;margin-right: 20px;}
input { outline:0px ; /* -webkit-appearance: none; */}
/*cxx_评论*/
/*sun_合集*/
.hqCTitle{position:relative;width:100%;height:25px;line-height:25px;box-sizing:border-box;padding:0 10px;margin:8px 0}
.hqCTitle p{position:absolute;float:left;width:100%;height:25px;border-bottom:2px solid #99f;}
.hqCTitle span{position:absolute;z-index:1;display:block;background:#fff;width:20%;height:25px;border-bottom:2px solid #09f;float:left;font-weight:bold;font-size:16px;}
.hqCTitle span i{position:absolute;width:10px;height:27px;background:#fff;float:left;}
.tab-item.cur .bot-arrow {display: block;}
.tab-item .bot-arrow{position: absolute;background:url(..) no-repeat -4px -1348px; width:14px; height:8px; display:none;z-index:99;left:50%;margin-left:-6px;}
.CRCSTitleC ul{position:absolute;width:100%;float:left;border-bottom:3px solid #99f;top:0px;display:block;overflow:hidden;z-index:0;}
.CRCSTitleC li{position:relative;float:right;text-align:left;font-size:16px;padding:0 4px;max-width:40%;height:34px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.CRCSTitleC .cur{color:#006bc7;}
.CRCSTitleC em{position:relative;float:left;color:#e3e3e3;}
.guessCont{position:relative;display:block;height:auto;}
.guessCont .info{position:relative;margin:0 12px;}
.guessCont .info span{font-size:16px;line-height:26px;background:url(..) no-repeat -32px -1340px;padding-left:10px;}
.guessCont .info span i{font-size:13px;padding-left:5px;font-style: normal;font-weight: normal;text-decoration: none;}
.more{float:right;color:#858585;font-size:14px;padding-right: 10px;    padding: 0px 6px;background:url(..) no-repeat -12px -1316px;border-radius: 4px;color: #565656;display: block; padding-left: 25px;}
.guessCont .info p{color:#858585;text-indent:2em;max-height:66px;line-height:22px;overflow:hidden;}
/*sun_合集结束*/
/*wdj*/
.mobLgBox{width:92%;background:#fff;border:1px solid #e7e7e7;margin:10px 1% 0 2%;padding-bottom:5px;padding: 10px 8px 10px 6px;position:relative}
.mobLgIn{width:98%;margin:auto;margin-top:10px;height:35px}
.mobLgCont{width:98%;margin:auto;color:#999;line-height:20px;margin-top:10px;font-size:12px}
.mobLgIn span{display:block;float:left;margin-top:10px;width:43%}
.mobLgIn span input{float:left;margin:5px 8px 0 0}
.mobLgIn span h3,.mobLgIn span em{color:#999;font-weight:500;float:left;font-size:16px}
.mobLgIn a{display:block;float:right;width:56%;height:33px;line-height:33px;text-align:center;font-size:16px;text-decoration:none;color:#2095f4;border-radius:5px;border:1px solid #2095f4}
.mobLgIn a.hover{background:#2095f4;color:#fff}
/*包名权限*/
.compy{border-bottom: 1px solid #dfdfdf;}
.dd_title{border-bottom: 1px solid #dfdfdf;line-height: 35px;padding:0 10px;position: relative;text-overflow:ellipsis;white-space:nowrap;overflow: hidden;}
.dd_qxtitle,.dd_yszctitle{padding:0 10px;position: relative;font-size: 16px;overflow: hidden;line-height: 35px;border-bottom:1px solid #dfdfdf;}
.read_qx,.read_yszc {float:right;font-size: 13px;cursor:pointer;color: #fff;font-weight: normal;text-align: center;line-height: 20px;padding: 2px 6px;margin-top: 6px;background-color: #adadad;border-radius: 4px;}
.read_qx:hover,.read_yszc:hover {background-color: #818082;}
.readqx-form {max-height:480px;overflow: auto;padding:16px;font-size: 16px;line-height: 32px;}
.readqx-form pre{ font-size: 16px; line-height: 24px; font-family: "Microsoft YaHei";white-space: pre-wrap;word-wrap: break-word;}
/*以下是2021-12-10新增样式*/
/*滚动条整体样式*/
*::-webkit-scrollbar {display: none;width: 0px; height: 0px; background: #fff;}
*::-webkit-scrollbar-thumb {background: #fff;display: none;border-radius: 0px;}
*::-webkit-scrollbar-track {background: #fff;border-radius: 0px;display: none;}
/*精品推荐滑动*/
.jptjApp_Box {display: -webkit-box;display: -ms-flexbox;display: flex;background-color: #fff;}
.jptjApp_item {width: 100%;margin: 0 10px;/*  padding:0 10px;*/box-sizing: border-box;overflow: scroll;}
ul.jptjList {padding-top: 10px;display: -ms-flexbox;display: flex;}
ul.jptjList li {width: 23%;float: left;-ms-flex-negative: 0;flex-shrink: 0;text-align: center;overflow: hidden;height: auto;padding: 0px 10px 6px 0;box-sizing: border-box;display: inline;}
ul.jptjList li a {width: 100%;height: auto;display: block;overflow: hidden;}
ul.jptjList li img {display: block;  overflow: hidden;  margin: auto;  height: 17vw;  border-radius: 10px;}
ul.jptjList li span {width: 100%;height: 20px;line-height: 20px;font-size: 14px;color: #333;text-align: center;display: block;overflow: hidden;margin: 4px auto 0;}
/*同类推荐*/
.MContent {height: auto;width: 100%;overflow: hidden;box-sizing: border-box;padding: 0 10px 0 0;margin: 5px 0 0 0;}
.MContent a {width: 25%;height: auto;float: left;margin: 0;padding: 10px 0 0 10px;box-sizing: border-box;overflow: hidden;margin-bottom: 6px;}
.MContent a img {display: block;overflow: hidden;margin: auto;height: 18vw;border-radius: 10px;}
.MContent a span {width: 100%;height: 20px;line-height: 24px;font-size: 14px;text-align: center;margin-top: 2px;display: block;overflow: hidden;}

/**微信样式**/
.mask{width: 100%;height: 100%;position: fixed;left: 0;top: 0;z-index: 999;background: rgba(0,0,0,.2);}
.main-bg{ z-index:999999999; background-color:#000; opacity:0.8; text-align:center}.main-bg img{ width:280px;}